<div class="container-fluid vh-100"> 
    
    <div class="row">
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <div class="col-lg-2 bg-primary sidebar barra-lateral-pag">
            <!--! Barra lateral -->
            <app-comp-barra-lateral
            [mostrarBuscador]="true"
            ></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content cuerpo-pag" > 
            <div class="container-fluid"> 
                <!--! Cuerpo -->
                <h1 style="color: aliceblue;">Inventario </h1>
                <app-comp-tabla-datos 
                    [columnas]="columnasProductos"
                    [productos]="productos"
                    [acciones]="accionesProductos"
                ></app-comp-tabla-datos>
            </div>
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarAceptar]="true"  
    [mostrarCancelar]="true" 
    [mostrarBorrar]="true" 
    [mostrarAgregar]="true" 
    (ClickAceptar)="ClickAceptar()" 
    (ClickCancelar)="ClickCancelar()" 
    (ClickBorrar)="ClickBorrar()"
    (ClickAgregar)="ClickAgregar()"
>
</app-comp-botones-flotantes>