<div class="container-fluid vh-100"> 
    <div class="row">
        <h1 style="color: aliceblue;">Movimiento crear works! </h1>
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <div class="col-lg-2 bg-primary sidebar barra-lateral-pag">
            <!--! Barra lateral -->
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content cuerpo-pag" > 
            <!--! Cuerpo -->
            <div class="mb-3">
                
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">Crear un nuevo movimiento</h1>
                    <app-comp-detalle-nuevo-generico
                        [mostrarEditar]="true"
                        [campos]="campos"
                        (datosRecolectados)="onDatosRecolectadosMovimiento($event)"
                    ></app-comp-detalle-nuevo-generico>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!--! Botones flotantes  -->
<app-comp-botones-flotantes 
    [mostrarAceptar]="true"
    [mostrarCancelar]="true"
    (clickAceptar)="clickAceptar()"
    (clickCancelar)="clickCancelar()"
    >
</app-comp-botones-flotantes>

<!--! Modal  -->
<app-comp-notificacion 
    [estaAbierto]="estaAbierto" 
    [titulo]="tituloModal" 
    [mensaje]="mensajeModal"
    (cerrarModal)="cerrarModal()">
    <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
</app-comp-notificacion>