<div class="container-fluid vh-100"> 
    
    <div class="row">
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row h-100">
        <div class="col-lg-2 bg-primary sidebar">
            <!--! Barra lateral -->
            <app-comp-barra-lateral
            [mostrarBuscador]="true"
            ></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content"> 
            <div class="container-fluid"> 
                <!--! Cuerpo -->
                <app-comp-tabla-datos></app-comp-tabla-datos>
            </div>
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarAceptar]="true"  
    [mostrarCancelar]="true" 
    [mostrarBorrar]="true" 
    [mostrarAgregar]="true" 
    (ClickAceptar)="ClickAceptar()" 
    (ClickCancelar)="ClickCancelar()" 
    (ClickBorrar)="ClickBorrar()"
    (ClickAgregar)="ClickAgregar()"
>
</app-comp-botones-flotantes>