<div class="container-fluid vh-100" style="background-color: #444c5f;"> 
    <app-comp-navbar></app-comp-navbar> 
    
    <div class="row h-100">
        <div class="col-lg-2 bg-primary sidebar" style="background-color: #4b5676;">
            <!--! Barra lateral -->
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content"> 
            <div class="container-fluid"> 
                <!--! Cuerpo -->
                <app-comp-tabla-datos></app-comp-tabla-datos>
            </div>
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarCheck]="true"  
    [mostrarX]="true" 
    [mostrarTrash]="true" 
    (checkClick)="onCheckClick()" 
    (xClick)="onXClick()" 
    (trashClick)="onTrashClick()"
>
</app-comp-botones-flotantes>