<!--! Formulario para editar un producto -->

<div class="card text-white bg-dark">
    <div class="card-header bg-primary">
        Nuevo Detalle
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6"> 

          <div class="mb-3">
            <label for="idProducto" class="form-label">ID producto</label>
            <!-- <input type="text" class="form-control" id="idProducto" [(ngModel)]="producto.id">  -->
            <input type="text" class="form-control" id="idProducto"> 
          </div>

          <div class="mb-3">
            <label for="codMS" class="form-label">Cod MS</label>
            <!-- <input type="text" class="form-control custom-focus" id="codMS" [(ngModel)]="producto.codMS"> -->
            <input type="text" class="form-control custom-focus" id="codMS">
          </div>

          <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <!-- <input type="text" class="form-control custom-focus" id="marca" [(ngModel)]="producto.marca"> -->
            <input type="text" class="form-control custom-focus" id="marca">
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <!-- <input type="text" class="form-control" id="descripcion" [(ngModel)]="producto.descripcion"> -->
            <input type="text" class="form-control" id="descripcion">
          </div>

          <div class="mb-3">
            <label for="talle" class="form-label">Talle</label>
            <!-- <input type="text" class="form-control" id="talle" [(ngModel)]="producto.talle"> -->
            <input type="text" class="form-control" id="talle">
          </div>

          <label class="form-check-label d-flex align-items-center" for="liquidacion" style="font-size: 1.2rem;"> 
            <span class="me-2">Liquidación</span>
            <!-- <input type="checkbox" class="form-check-input" id="liquidacion" [(ngModel)]="producto.liquidacion"> -->
            <input type="checkbox" class="form-check-input" id="liquidacion">
          </label>

      </div> 
        <div class="col-6">
          
          <h5>Física:</h5>
          <div class="mb-3">
            <label for="precioFisico" class="form-label">Precio</label>
            <!-- <input type="number" class="form-control" id="precioFisico" [(ngModel)]="producto.precioFisico"> -->
            <input type="number" class="form-control" id="precioFisico">
          </div>
          
          <div class="mb-3">
            <label for="cantidadFisica" class="form-label">Cantidad</label>
            <!-- <input type="number" class="form-control" id="cantidadFisica" [(ngModel)]="producto.cantidadFisica"> -->
            <input type="number" class="form-control" id="cantidadFisica">
          </div>
  
          <h5>Online:</h5>
          <div class="mb-3">
            <label for="precioOnline" class="form-label">Precio</label>
            <!-- <input type="number" class="form-control" id="precioOnline" [(ngModel)]="producto.precioOnline"> -->
            <input type="number" class="form-control" id="precioOnline">
          </div>
          
          <div class="mb-3">
            <label for="cantidadOnline" class="form-label">Cantidad</label>
            <!-- <input type="number" class="form-control" id="cantidadOnline" [(ngModel)]="producto.cantidadOnline"> -->
            <input type="number" class="form-control" id="cantidadOnline">
          </div>

        </div>
      </div>
    </div>
  </div>