<!--! Formulario para editar un producto -->

<div class="card text-white bg-dark">
    <div class="card-header bg-primary">
        Nuevo Detalle
    </div>
    <div class="card-body">
      <div class="row">
        
        <!--! Columna 1  -->
        <div class="col-6"> 
          
          <div class="mb-3" *ngFor="let campo of detalleGeneral">
            <label for="idProducto" class="form-label">{{campo.nombre}}</label>
            <input type="text" class="form-control" id="idProducto" [value]="campo.valor || ''" [disabled]="!mostrarEditar" > 
          </div>
        </div>
        
        <!--! Columna 2  -->
        <div class="col-6">
          
          <h5>Física:</h5>
          <div class="mb-3" *ngFor="let campo of detalleFisica">
            <label for="precioFisico" class="form-label">{{campo.nombre}}</label>
            <input type="number" class="form-control" id="precioFisico" [value]="campo.valor || ''" [disabled]="!mostrarEditar">
          </div>
          
          <h5>Online:</h5>
          <div class="mb-3" *ngFor="let campo of detalleOnline">
            <label for="precioFisico" class="form-label">{{campo.nombre}}</label>
            <input type="number" class="form-control" id="precioFisico" [value]="campo.valor || ''" [disabled]="!mostrarEditar">
          </div>
          
        </div>
      </div>
    </div>
  </div>