<div class="container-fluid vh-100" style="background-color: #444c5f;"> 
    <app-comp-navbar></app-comp-navbar> 
    
    <div class="row h-100">
        <div class="col-lg-2 bg-primary sidebar" style="background-color: #4b5676;">
            <!--! Barra lateral -->
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content"> 
            <div class="container-fluid"> 
                <!--! Cuerpo -->
                <app-comp-detalle-cuerpo></app-comp-detalle-cuerpo>
            </div>
        </div>
    
    </div>
</div>