<div class="container-fluid vh-100"> 
    <div class="row">
        <!-- <h1 style="color: aliceblue;">Usuario editar works! </h1> -->
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <!--! Barra lateral -->
        <div class="col-lg-3 bg-primary sidebar barra-lateral-pag">
            <app-comp-barra-lateral
            [mostrarBusqueda]="false"
            ></app-comp-barra-lateral>
        </div>
        
        <!--! Cuerpo -->
        <div class="col-lg-9 content cuerpo-pag" > 
            
            <!--! Detalle venta -->
            <div class="mb-9">
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">Editar usuario</h1>
                    <app-comp-detalle-nuevo-generico
                        [mostrarEditar]="true"
                        [titulo]="titulo1"
                        [campos]="campos1"
                        (datosRecolectados)="onDatosRecolectadosUsuario($event)"
                    ></app-comp-detalle-nuevo-generico>
                </div>
            </div>
            
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarAceptar]="mostrarAceptar"
    [mostrarCancelar]="mostrarCancelar"
    [mostrarBorrar]="mostrarBorrar"
    (clickAceptar)="clickAceptar()"
    (clickCancelar)="clickCancelar()"
    (clickBorrar)="clickBorrar()"
>
</app-comp-botones-flotantes>

<!--! Modal  -->
<app-comp-notificacion 
    [estaAbierto]="estaAbierto" 
    [titulo]="tituloModal" 
    [mensaje]="mensajeModal"
    (cerrarModal)="cerrarModal()">
    <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
</app-comp-notificacion>