<div class="card text-white bg-dark">
    <div class="card-header bg-primary">
        {{titulo}}
    </div>
    <div class="card-body">
        <!--! Estilo compacto  -->
        <div *ngIf="estilo == 'compacto'">
            <div *ngFor="let producto of productos; let i = index" class="mb-3">
                <h5>Producto {{i + 1}}</h5>
                <div class="row">
                    <div class="col" *ngFor="let campo of campos">
                        <!-- Los campos existentes aquí -->
                        <div *ngIf="campo.tipo == 'textarea-text'">
                            <label [for]="campo.identificador + '_' + i" class="form-label">{{campo.nombre}}</label>
                            <textarea class="form-control" [id]="campo.identificador + '_' + i" rows="3"></textarea>
                        </div>
                        
                        <div *ngIf="campo.tipo == 'input-text'">
                            <label [for]="campo.identificador + '_' + i" class="form-label">{{campo.nombre}}</label>
                            <input type="text" class="form-control" [id]="campo.identificador + '_' + i">
                        </div>
                        
                        <div *ngIf="campo.tipo == 'input-number'">
                            <label [for]="campo.identificador + '_' + i" class="form-label">{{campo.nombre}}</label>
                            <input type="number" class="form-control" [id]="campo.identificador + '_' + i">
                        </div>
                        
                        <div *ngIf="campo.tipo == 'selector'">
                            <label [for]="campo.identificador + '_' + i" class="form-label">{{campo.nombre}}</label>
                            <select class="form-select" [id]="campo.identificador + '_' + i">
                                <option selected>Seleccionar...</option>
                                <option *ngFor="let opcion of campo.opciones" [value]="opcion">{{opcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--! Botón para agregar nuevo producto -->
            <button type="button" class="btn btn-primary mt-3" (click)="agregarProducto()">
                Agregar otro producto
            </button>
            <button type="button" class="btn btn-danger mt-3" (click)="quitarProducto()">
                Quitar ultimo producto
            </button>

        </div>
    </div>
</div>