<!--! Formulario para editar un producto -->

<div class="card text-white bg-dark">
    
    <div class="card-header bg-primary">
        Fotos
        <app-comp-boton-foto class="float-end"
            (clickAgregarFoto)="ClickAgregarFoto()" 
            (archivoSeleccionado)="ArchivoSeleccionado($event)"
        >
        </app-comp-boton-foto>
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col" *ngFor="let foto of listaFotos"> 
                {{foto}}
            </div>
        </div>
    </div>
    
</div>