@import '~@fortawesome/fontawesome-free/css/all.min.css';

/*T* Estilos generales */
.bg-primary { /* Acento primario */
    background-color: #0d6efd !important; 
}

body {  /* Fondo */
    background-color: #444c5f;
}


/*T* Botones flotantes */
.btn-danger {
    transition: background-color 0.3s ease;
} 

.btn-danger:hover,
.btn-danger:active {
    color: white;
    background-color: #91232e;
    border-color: #dc3545;
}

.btn-warning {
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    color: black;
    background-color: #b3813b;
}

.btn-success {
    transition: background-color 0.3s ease;
}

.btn-success:hover,
.btn-success:active {
    color: white;
    background-color: #2d6a4f;
    border-color: #198754;
}

.boton-celeste-agregar {
    background-color: #0d6efd;
    color: white;
    transition: background-color 0.3s ease;
}

.boton-celeste-agregar:hover,
.boton-celeste-agregar:active {
    color: white !important;
    background-color: #28579f !important;
    border-color: #0d6efd !important;
}

.boton-revisar-stock {
    background-color: #669206;
    color: white;
    transition: background-color 0.3s ease;
}

.boton-revisar-stock:hover,
.boton-revisar-stock:active {
    color: white !important;
    background-color: #507206 !important;
    border-color: #669206 !important;
}

/*T* Paginas */
.barra-lateral-pag {
    padding: 2% !important;
    background-color: #28579f !important;
}

.contenido-principal {
    height: calc(100vh - 80px); 
}

.cuerpo-pag {
    padding: 1% !important;
}