/*T* Estilos generales */
.bg-primary { /* Acento primario */
    background-color: #0d6efd !important; 
}

body {  /* Fondo */
    background-color: #444c5f;
}


/*T* Botones flotantes */
.btn-danger {
    transition: background-color 0.2s ease; /* Transición del color normal al color hover*/
} 

.btn-danger:hover {
    color: white;
    background-color: #91232e;
}

.btn-warning {
    transition: background-color 0.2s ease; /* Transición del color normal al color hover*/
}

.btn-warning:hover {
    color: black;
    background-color: #b3813b;
}
.btn-success {
    transition: background-color 0.2s ease; /* Transición del color normal al color hover*/
}

.boton-celeste-agregar {
    background-color: #28579f;
    color: white;
    transition: background-color 0.2s ease;
}

.boton-celeste-agregar:hover {
    color: white;
    background-color: #234b89;
}

/*T* Paginas */
.barra-lateral-pag {
    padding: 3% !important;
    background-color: #28579f !important;
}

.contenido-principal {
    height: calc(100vh - 80px); 
}

.cuerpo-pag {
    padding: 1% !important;
}