<div class="container-fluid px-0">
  <!--! Botones  -->
  <div class="d-lg-none mobile-top-bar">
    <button class="btn botones-vista" (click)="toggleNavbar()">
      <i class="fas fa-bars"></i>
    </button>
    <button class="btn botones-vista" (click)="toggleSidebar()">
      <i class="fas fa-filter"></i>
    </button>
  </div>

  <!--! Navbar -->
  <div class="row" [ngClass]="{ 'd-none d-lg-block': !showNavbar }">
    <app-comp-navbar></app-comp-navbar>
  </div>

  <div class="row g-0 contenido-principal">
    <!--! Barra lateral -->
    <div
      class="col-lg-3 col-md-12 sidebar barra-lateral-pag"
      [ngClass]="{ 'd-none d-lg-block': !showSidebar }"
    >
      <app-comp-barra-lateral
        [mostrarBusqueda]="false"
      ></app-comp-barra-lateral>
    </div>

    <div class="col-lg-9 content cuerpo-pag">
      <!--! Cuerpo -->
      <div class="mb-3">
        <div class="container-fluid">
          <h1 style="color: aliceblue">Crear una nueva devolucion</h1>
          <app-comp-detalle-nuevo-generico
            [mostrarEditar]="true"
            [campos]="campos"
            (datosRecolectados)="onDatosRecolectadosDevolucion($event)"
          ></app-comp-detalle-nuevo-generico>
        </div>
      </div>
    </div>
  </div>
</div>

<!--! Botones flotantes  -->
<app-comp-botones-flotantes
  [mostrarAceptar]="true"
  [mostrarCancelar]="true"
  (clickAceptar)="clickAceptar()"
  (clickCancelar)="clickCancelar()"
>
</app-comp-botones-flotantes>

<!--! Modal  -->
<app-comp-notificacion
  [estaAbierto]="estaAbierto"
  [titulo]="tituloModal"
  [mensaje]="mensajeModal"
  (cerrarModal)="cerrarModal()"
>
  <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
</app-comp-notificacion>
