<!-- Este componente mostrará la barra de navegación superior con los botones "Ventas", 
"Tienda Física", "Tienda Online", "Regalos" y "Gift Card". -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid"> 
        <ul class="navbar-nav w-100 justify-content-around">
            <li class="nav-item">
                <a class="nav-link" href="#">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Tienda Física</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tienda Online</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Regalos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gift Card</a>
            </li>
        </ul>
    </div>
</nav>