<!-- Este componente mostrará la barra de navegación superior con los botones "Ventas", 
 "Movimientos", "Tienda Física", "Tienda Online", "Regalos" y "Gift Card". -->

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid"> 
        <ul class="navbar-nav w-100 justify-content-around">
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'ventas'" [attr.aria-current]="pagActual === 'ventas' ? 'page' : null" href="ven">Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'movimientos'" [attr.aria-current]="pagActual === 'movimientos' ? 'page' : null" href="mov">Movimientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'tiendaFisica'" [attr.aria-current]="pagActual === 'tiendaFisica' ? 'page' : null" href="tf">Tienda Física</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'tiendaOnline'" [attr.aria-current]="pagActual === 'tiendaOnline' ? 'page' : null" href="to">Tienda Online</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'regalos'" [attr.aria-current]="pagActual === 'regalos' ? 'page' : null" href="reg">Regalos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="pagActual === 'giftCard'" [attr.aria-current]="pagActual === 'giftCard' ? 'page' : null" href="gc">Gift Card</a>
            </li>
        </ul>
    </div>
</nav>