<div class="container-fluid vh-100"> 
    <div class="row">
        <h1 style="color: aliceblue;">Producto crear works! </h1>
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <div class="col-lg-2 bg-primary sidebar barra-lateral-pag">
            <!--! Barra lateral -->
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content cuerpo-pag" > 
            <!--! Cuerpo -->
            <div class="mb-3">
                
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">Crear un nuevo producto </h1>
                    <app-comp-detalle-cuerpo></app-comp-detalle-cuerpo>
                </div>
            </div>
            <div class="mb-3">
                <div class="container-fluid"> 
                    <app-comp-campo-fotos
                    (clickAgregarFoto)="ClickAgregarFoto()"
                    (archivoSeleccionado)="archivoSeleccionado($event)"
                    ></app-comp-campo-fotos>
                </div>
            </div>
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarAceptar]="true"
    [mostrarCancelar]="true"
    >
</app-comp-botones-flotantes>