<!-- Este componente será la base para mostrar todas las tablas de datos en tu aplicación. 

Recibe como input:
> Columnas: Lista de diccionarios. Ej: [{ nombre: 'ID producto', tipo: 'text' }, ... ]
> Datos: Diccionario con las acciones. Ej: {editar: true, eliminar: true, ...} -->

<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <!--! Encabezados -->
                <th *ngFor="let columna of columnas" scope="col">
                    {{ columna.nombre }}
                </th>
                <th *ngIf="acciones.editar || acciones.eliminar || acciones.detalle" scope="col">Acciones</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let item of datos">
                <!--! Datos -->
                <td *ngFor="let columna of columnas">
                    <ng-container [ngSwitch]="columna.tipo">
                        <span *ngSwitchCase="'currency'">{{ item[columna.nombre] | currency }}</span>
                        <span *ngSwitchCase="'boolean'">
                            <span *ngIf="item[columna.nombre]" class="badge bg-danger">Si</span>
                            <span *ngIf="!item[columna.nombre]" class="badge bg-success">No</span>
                        </span>
                        <span *ngSwitchCase="'date'">{{ item[columna.nombre] | date:'dd/MM/yyyy' }}</span>
                        <span *ngSwitchDefault>{{ item[columna.nombre] }}</span>
                    </ng-container>
                </td>

                <!--! Botones de accion -->
                <td *ngIf="acciones.editar || acciones.eliminar || acciones.detalle">
                    <button *ngIf="acciones.detalle" type="button" class="btn btn-info btn-sm me-1 boton-info" (click)="detalleFila(item)">
                        <i class="bi bi-info-lg"></i>
                    </button>
                    <button *ngIf="acciones.editar" type="button" class="btn btn-primary btn-sm me-1 boton-editar" (click)="editarFila(item)">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="acciones.eliminar" type="button" class="btn btn-danger btn-sm me-1 boton-borrar" (click)="eliminarFila(item)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</div>