<div class="container-fluid vh-100"> 
    <div class="row">
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <div class="col-lg-3 bg-primary sidebar barra-lateral-pag">
            <!--! Barra lateral -->
            <app-comp-barra-lateral
            [mostrarBusqueda]="false"
            ></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-9 content cuerpo-pag" > 
            <!--! Cuerpo -->
            <div class="mb-3">
                
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">{{tituloGeneral}}</h1>
                    <app-comp-detalle-nuevo-prod
                        [mostrarEditar]="mostrarEditar"
                        [detalleGeneral]="camposGenerales"
                        [detalleFisica]="camposFisica"
                        [detalleOnline]="camposOnline"
                        (datosRecolectados)="onDatosRecolectados($event)"
                    ></app-comp-detalle-nuevo-prod>
                </div>
            </div>
            <div class="mb-3">
                <div class="container-fluid"> 
                    <app-comp-campo-fotos
                        [mostrarEditar]="mostrarEditar"
                        [productoId]="id"
                        [listaFotos]="fotos"
                        (fotosActualizadas)="onFotosActualizadas($event)"
                    >
                    </app-comp-campo-fotos>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!--! Botones flotantes  -->
<app-comp-botones-flotantes 
    [mostrarAceptar]="mostrarAceptar"  
    [mostrarCancelar]="mostrarCancelar" 
    (clickAceptar)="ClickAceptar()" 
    (clickCancelar)="ClickCancelar()"
>
</app-comp-botones-flotantes>

<!--! Modal  -->
<app-comp-notificacion 
    [estaAbierto]="estaAbierto" 
    [titulo]="tituloModal" 
    [mensaje]="mensajeModal"
    (cerrarModal)="cerrarModal()">
    <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
</app-comp-notificacion>