<div class="container-fluid vh-100"> 
    <div class="row">
        <h1 style="color: aliceblue;">Producto detalle-editar works! </h1>
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <div class="col-lg-2 bg-primary sidebar barra-lateral-pag">
            <!--! Barra lateral -->
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <div class="col-lg-10 content cuerpo-pag" > 
            <!--! Cuerpo -->
            <div class="mb-3">
                
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">{{tituloGeneral}}</h1>
                    <app-comp-detalle-nuevo-prod
                        [mostrarEditar]="mostrarEditar"
                        [detalleGeneral]="camposGenerales"
                        [detalleFisica]="camposFisica"
                        [detalleOnline]="camposOnline"
                        (datosRecolectados)="onDatosRecolectados($event)"
                    ></app-comp-detalle-nuevo-prod>
                </div>
            </div>
            <div class="mb-3">
                <div class="container-fluid"> 
                    <app-comp-campo-fotos
                        [mostrarEditar]="mostrarEditar"
                        [listaFotos]="fotos"
                        (clickAgregarFoto)="ClickAgregarFoto()"
                        (archivoSeleccionado)="archivoSeleccionado($event)"
                    ></app-comp-campo-fotos>
                </div>
            </div>
        </div>
    
    </div>
</div>

<!--! Botones flotantes  -->
<app-comp-botones-flotantes 
    [mostrarAceptar]="mostrarAceptar"  
    [mostrarCancelar]="mostrarCancelar" 
    (clickAceptar)="ClickAceptar()" 
    (clickCancelar)="ClickCancelar()"
>
</app-comp-botones-flotantes>