<div class="container-fluid vh-100"> 
    <div class="row">
        <h1 style="color: aliceblue;">Ventas crear works! </h1>
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <!--! Barra lateral -->
        <div class="col-lg-2 bg-primary sidebar barra-lateral-pag">
            <app-comp-barra-lateral></app-comp-barra-lateral>
        </div>
        
        <!--! Cuerpo -->
        <div class="col-lg-10 content cuerpo-pag" > 
            
            <!--! Detalle venta -->
            <div class="mb-3">
                <div class="container-fluid"> 
                    <h1 style="color: aliceblue;">Crear una nueva venta</h1>
                    <app-comp-detalle-nuevo-generico
                        [mostrarEditar]="true"
                        [titulo]="titulo1"
                        [campos]="campos1"
                        (datosRecolectados)="onDatosRecolectadosVenta($event)"
                    ></app-comp-detalle-nuevo-generico>
                </div>
            </div>

            <!--! Productos -->
            <div class="mb-3">
                <div class="container-fluid"> 
                    <app-comp-venta-lista-prod
                        [mostrarEditar]="true"
                        [estilo]="'compacto'"
                        [titulo]="titulo2"
                        [campos]="campos2"
                        (datosRecolectados)="onDatosRecolectadosProductos($event)"
                    ></app-comp-venta-lista-prod>
                </div>
            </div>
        </div>
    
    </div>
</div>

<app-comp-botones-flotantes 
    [mostrarAceptar]="true"
    [mostrarCancelar]="true"
    (clickAceptar)="clickAceptar()"
>
</app-comp-botones-flotantes>