<div class="container-fluid vh-100"> 
    <!-- <h1 style="color: aliceblue;"> TF revisar stock works! </h1> -->
    <div class="row">
        <app-comp-navbar></app-comp-navbar> 
    </div>
    
    <div class="row contenido-principal" >
        <!--! Barra lateral -->
        <div class="col-lg-3 bg-primary sidebar barra-lateral-pag">
            <app-comp-barra-lateral
            [mostrarBusqueda]="false"
            ></app-comp-barra-lateral>
            
            <!--! Zona de validacion  -->
            <div class="card shadow-sm mb-4 zona-personalizada">
                <div class="card-body">
                    <h5 class="card-title">Validación de stock</h5>
                    <p class="mb-2"><strong>Ronda actual:</strong> {{ fecha_ronda }}</p>
                    
                    <button (click)="iniciarNuevaRonda()" class="btn btn-primary w-100 mb-3">
                        Iniciar Nueva Ronda de Validación
                    </button>
                    
                    <div class="input-group mb-3">
                        <input [(ngModel)]="id_a_validar" class="form-control" placeholder="ID del producto" (keyup.enter)="validarUnidad()">
                        <button (click)="validarUnidad()" class="btn btn-secondary boton-revisar">Revisar</button>
                    </div>
                </div>
            </div>
            
            <!--! Zona de notificaion/historial -->
            <div class="card shadow-sm zona-personalizada">
                <div class="card-body">
                    <h5 class="card-title">Historial</h5>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let notificacion of notificaciones; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
                            <p class="mb-2">{{ notificacion.mensaje }}</p>
                            <button (click)="deshacerAccion(i)" class="btn btn-sm btn-danger boton-deshacer" [disabled]="!notificacion.puedeDeshacer">
                                Deshacer
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        
        </div>
        
        <div class="col-lg-9 content cuerpo-pag" > 
            
            <!--! Cuerpo -->
            <div class="container-fluid"> 
                <h1 style="color: aliceblue;">Productos para Validar</h1>
                <app-comp-tabla-datos 
                    [columnas]="columnas"
                    [datos]="datos"
                    [acciones]="acciones"
                    [tipo]="'prod'"
                ></app-comp-tabla-datos>
                
                <!--! Paginamiento  -->
                <app-comp-paginamiento 
                [paginaActual]="paginaActual"
                [totalPaginas]="totalPaginas"
                (clickPagina)="clickPagina($event)"
                >
                </app-comp-paginamiento>
            </div>
            
        </div>
    </div>
</div>