<app-comp-busqueda 
    *ngIf="mostrarBusqueda()"
></app-comp-busqueda>

<ng-container *ngFor="let filtro of filtrosLista">
    <app-comp-filtro-lista-seleccion
        *ngIf="mostrarFiltroListaSeleccion()"
        [filtro]="filtro"
    ></app-comp-filtro-lista-seleccion>
</ng-container>

<ng-container *ngFor="let filtro of filtrosCheckbox">
    <app-comp-filtro-checkbox
        *ngIf="mostrarFiltroCheckbox()"
        [filtro]="filtro"
    ></app-comp-filtro-checkbox>
</ng-container>

<app-comp-detalle-lateral
    *ngIf="mostrarDetalleLateral()"
></app-comp-detalle-lateral> 