<div class="container-fluid px-0">
    <!--! Botones  -->
    <div class="d-lg-none mobile-top-bar">
        <button class="btn botones-vista" (click)="toggleNavbar()">
            <i class="fas fa-bars"></i>
        </button>
        <button class="btn botones-vista" (click)="toggleSidebar()">
            <i class="fas fa-filter"></i>
        </button>
    </div>
    
    <!--! Navbar -->
    <div class="row" [ngClass]="{'d-none d-lg-block': !showNavbar}">
        <app-comp-navbar></app-comp-navbar>
    </div>
    
    <div class="row g-0 contenido-principal">
        
        <!--! Barra lateral -->
        <div class="col-lg-3 col-md-12 sidebar barra-lateral-pag" [ngClass]="{'d-none d-lg-block': !showSidebar}">
            <app-comp-barra-lateral
            [mostrarBusqueda]="false"
            ></app-comp-barra-lateral>
            
            <!-- <button class="btn btn-warning" (click)="downloadDatabase()" style="width: 100%;">
                <i class="fas fa-download"></i> Descargar Base de Datos
            </button> -->
            
            <button class="btn btn-warning" (click)="downloadDatabase()">
                <i class="fas fa-download"></i> Descargar Base de Datos
            </button>
            
            <input type="file" (change)="onFileSelected($event)" accept=".bin">
            
            <button class="btn btn-danger" (click)="uploadDatabase()" [disabled]="!selectedFile">
                <i class="fas fa-upload"></i>Subir Base de Datos
            </button>
            
        </div>
        
        <div class="col-lg-9 content cuerpo-pag" > 
            
            <!--! Cuerpo -->
            <div class="container-fluid"> 
                <h1 style="color: aliceblue;">Usuarios </h1>
                <app-comp-tabla-datos 
                    [columnas]="columnas"
                    [datos]="datos"
                    [acciones]="acciones"
                    [tipo]="'usu'"
                ></app-comp-tabla-datos>
                
                <!--! Paginamiento  -->
                <app-comp-paginamiento 
                [paginaActual]="paginaActual"
                [totalPaginas]="totalPaginas"
                (clickPagina)="clickPagina($event)"
                >
                </app-comp-paginamiento>
            </div>
            
        </div>
    
    </div>
</div>

<!--! Botones flotantes  -->
<app-comp-botones-flotantes 
    [mostrarAgregar]="true"  
    (clickAgregar)="ClickAgregar()"
>
</app-comp-botones-flotantes>

<!--! Modal  -->
<app-comp-notificacion 
    [estaAbierto]="estaAbierto" 
    [titulo]="tituloModal" 
    [mensaje]="mensajeModal"
    (cerrarModal)="cerrarModal()">
    <button class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
</app-comp-notificacion>